@import url(./general.css);

.images{
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content: space-between;
    margin: auto;
}

.image{
    width: 100%;
    height: auto;
    border: 1px white solid;
    margin: 2% 0 2% 0;
}

/*Desktop */
@media screen and (min-width: 1000px)
{
    .image{
        width: 60%;
    }
}

/*Samsung Galaxy Tab 4 */
@media screen and (min-width: 800px)
{
    .image{
        width: 60%;
    }
}

/*Résolution Iphone6*/
@media screen and (min-width: 600px)
{
    .image{
        width: 30%;
    }
}