@import url("./general.css");

fieldset{
    padding: 2%;
}

form{
	float: none;
	margin:auto;
	text-align: center;
}

legend{
	font-family: "Verdana";
	font-weight: bold;
}

label{
	display: block;
}

#courriel{
	margin-left: 20%;
	margin-right: 20%;
}

table{
    width: 70%;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 5% auto; 
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    background-color: #490e5f;
}
